:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mobile-max-width: 360px;
  --mobile-app-header-height: 52px;
}

body {
  font-family: 'Pretendard', sans-serif, -apple-system, 'Segoe UI';
  background-color: #fff;
  margin: 0;
}

div {
  margin: 0;
}

input,
button {
  font-family: 'Pretendard', sans-serif, -apple-system, 'Segoe UI';
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/Pretendard-Regular.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: medium;
  font-weight: 500;
  src: url(./assets/font/Pretendard-Medium.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 700;
  src: url(./assets/font/Pretendard-Bold.woff2) format(woff2);
  font-display: swap;
}
